<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.admin">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="TouchAcc-Admin"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".RequestDetails"></activity>
        <activity android:name=".ViewMoney" />
        <activity android:name=".MaintenanceStatus" />
        <activity android:name=".ViewAllRequests" />
        <activity android:name=".ViewInvoice" />
        <activity android:name=".ApproveRequestActivity" />
        <activity android:name=".ViewTransactionsActivity" />
        <activity android:name=".ApproveDueRequest" />
        <activity android:name=".ApproveAdvanceRequest" />
        <activity android:name=".ApproveRequest" />
        <activity android:name=".EditMonth" />
        <activity android:name=".ViewMonths" />
        <activity android:name=".ViewAllActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>